<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> {{selectedItem.title}}</ion-title>
  </ion-navbar>
</ion-header>


<div id="map" class="map"></div>
<div class="info">
  <ion-icon name="pin"></ion-icon>
  <span>京津高速{{currentPosition}}</span>
</div>


<!--<div class="list">-->
  <!--<ion-list>-->
    <!--<table class="list-tb">-->
      <!--<tr>-->
        <!--<td class="list-tb-t">车主姓名:</td>-->
        <!--<td class="list-tb-b"><input type="text"/>{{uName}}</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td class="list-tb-t">车牌号:</td>-->
        <!--<td class="list-tb-b"><input type="text"/>{{uNum}}</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td class="list-tb-t">救援类型:</td>-->
        <!--<td class="list-tb-b">-->
          <!--<select class="list-tb-b-s">-->
              <!--<option value="type1" selected="true">拖车</option>-->
              <!--<option value="type2">吊车</option>-->
              <!--<option value="type3">轮胎抢修</option>-->
              <!--<option value="type4">其它</option>-->
          <!--</select>-->
        <!--</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td class="list-tb-t">情况描述:</td>-->
        <!--<td class="list-tb-b"><textarea rows="3" cols="20" placeholder="请输入情况简要信息">{{uDesc}}</textarea></td>-->
      <!--</tr>-->
    <!--</table>-->
  <!--</ion-list>-->
  <!--<div>-->
    <!--<button ion-button color="light" round>上传图片</button>-->
    <!--<button ion-button color="light" round>上传视频</button>-->
  <!--</div>-->
  <!--<button ion-button full (click)="presentLoading()">确认上报</button>-->

  <div>
    <ion-list style="margin: 0px 10px 10px 0px;">
      <ion-item>
        <ion-label>车主姓名:</ion-label>
        <ion-input type="text" [(ngModel)]="uName">{{uName}}</ion-input>
      </ion-item>

      <ion-item>
        <ion-label>车牌号:</ion-label>
        <ion-input type="text" [(ngModel)]="uNum">{{uNum}}</ion-input>
      </ion-item>

      <ion-item>
        <ion-label>救援类型</ion-label>
        <ion-select interface="popover" [ngModel]="student" (ngModelChange)="student=$event">
          <ion-option *ngFor="let item of students" [value]='item'>{{item}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>情况描述:</ion-label>
        <ion-textarea rows="3" cols="20" placeholder="请输入情况简要信息" [(ngModel)]="uDesc">{{uDesc}}</ion-textarea>
      </ion-item>

    </ion-list>
    <div>
      <button class="uploadP" (click)="takePhoto()">
        <ion-icon name="camera"></ion-icon>
      </button>
      <button class="uploadV" (click)="selectPhoto()">
        <ion-icon name="image"></ion-icon>
      </button>
      <ion-item>
        <img *ngIf="myPhoto" class="img-responsive" [src]="myPhoto"/>
      </ion-item>
    </div>

    <button ion-button (click)="presentLoading()" style="width: 100%;padding: 0px 5px">确认上报</button>
  </div>

